/**
 * MAIN Application SCSS FIle. Imports everything into this.
 */

@import 'abstracts/module'; // This should go first
@import 'base/module'; // This should be second
@import 'modules/module'; // This should be 3rd
@import 'partials/module'; // 4th

/**
 * Space for Vendor SCSS below 
 */

p {
    border: 0px none;
    @include media-from(xs) {
        border: 5px;
    }
    @include media-to(md) {

    }
}


body {
     color: red;  
}