/**
 * MAIN Application SCSS FIle. Imports everything into this.
 */

@import 'abstracts/module'; // This should go first
@import 'vendors/module'; // This is second
@import 'base/module'; // This is 3rd
@import 'partials/module'; // AKA Layout
@import 'modules/module'; // AKA Components
@import 'pages/module'; // AKA Page specific css 

/**
 * Shamefull Dispray
 */
@import 'shame'; 


/**
 * Space for Vendor SCSS below 
 */

p {
    border: 0px none;
    @include media-from(xs) {
        border: 5px;
    }
    @include media-to(md) {

    }
}


body {
     color: red;  
}