////
/// @author AlexD
////

/// Colors Map 
/// @group Colors
/// @type Map
/// @prop {Color} lightest [rgb(200,200,200)]
/// @prop {Color} lighter [#f5b180]
$colors: (
  lightest: rgb(200,200,200),
  lighter: #f5b180,
);

/// Website Template Colors 
/// This will run the colors for the alerts/buttons availble.
/// @group Colors
/// @type Map
/// @prop {websiteColor} primary [rgb(0, 123, 255)]
/// @prop {websiteColor} success [rgb(40, 167, 69)]
/// @prop {websiteColor} warning [rgb(255, 193, 7)]
/// @prop {websiteColor} danger [rgb(220, 53, 69)]
$websiteColors: (
    primary: rgb(0, 123, 255),
    success: rgb(40, 167, 69),
    warning: rgb(161, 126, 20),
    danger: rgb(220, 53, 69),
);

$primaryColors: (
    white: rgb(255, 255, 255),
    black: rgb(0,0 ,0),
)