/*** ESSENTIAL DEFAULT STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: calc(100% + 2px); 
}

.outer-navigation {
    background-color: color(red);
    padding: size(10) 0;

    h2 {
        font-size: 3.4rem;
        color: #fff;
        font-weight: 700;
        margin-bottom: 0;
        padding-top: size(9);
        float: left;
    
        @include media-breakpoint-up('lg') {
            display: none;
        }
    }
    
    .icon-span {
        float: right;
        cursor: pointer;
        &::before {
            margin-right: 0;
        }
    
        @include media-breakpoint-up('lg') {
            display: none;
        }
        
    }    
}