////
/// @author AlexD
////

/** Alerts SCSS */

%alert { 
    padding: 1rem 2rem; 
    border-width: 1px;
    border-style: solid; 
    border-radius: 5px; 
    position: relative; 
    * { 
        margin-bottom: 1rem; 
        &:last-child { 
            margin-bottom: 0;
        }
    }
}

@each $key, $value in $websiteColors {
    .alert-#{$key} {
        @extend %alert;
        color: $value;
        border-color: darken($value, 10%);
        background : mix($value, map-get($primaryColors, white), 10%);
    }
}

/* === === === end of alerts === === === */

